@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Fredericka+the+Great&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;
}

:root {
    --skyblue-1: #46b9e6;
    --skyblue-2: #9dd0e4;
    --orange: #ff4500;
    --dark: #111;
    --grey-d: #333;
    --grey-m: #888;
    --grey-l: #ccc;
    --grey-xl: #eee;
}

body {
    background-color: var(--skyblue-2);
}

.container {
    width: 100%;
    height: 100vh;
    padding: 3rem;
    overflow: hidden;
}

.landing {
    width: 100%;
    height: 100%;
    position: relative;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.7);
}

.navbar {
    position: absolute;
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
    z-index: 10;
}

.logo i {
    font-size: 5rem;
    color: var(--orange);
    -webkit-text-stroke: 0.2rem var(--skyblue-1);
    margin-right: 1rem;
    cursor: pointer;
}

.navigation a {
    font-size: 2rem;
    color: var(--skyblue-1);
    text-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.9);
    margin: 0 3rem;
    position: relative;
}

.navigation a::before,
.navigation a::after {
    content: '';
    width: 100%;
    height: 0.2rem;
    background-color: var(--orange);
    position: absolute;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.5s;
}

.navigation a::before {
    top: -0.5rem;
    transform-origin: left;
}

.navigation a::after {    
    bottom: -0.5rem;
    transform-origin: right;
}

.navigation a:hover::before,
.navigation a:hover::after {
    transform: scaleX(1);
}

.menu-icon {
    width: 6rem;
    height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.line {
    width: 100%;
    height: 0.4rem;
    background-color: var(--orange);
    transition: transform 0.5s;
}

.line-1 {
    transform-origin: right;
}

.line-2 {
    transform-origin: left;
}

.menu-icon:hover .line {
    transform: scaleX(0.5);
}

.slides {
    width: 100%;
    height: 100%;
    background-color: var(--dark);
}

.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: opacity 2s;
}

.slide-img-wrapper {
    width: 100%;
    height: 100%;
    background: var(--dark);
}

.slide-img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.3;
}

.banner {
    width: 100rem;
    height: 100rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bg-heading {
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20rem;
    -webkit-text-stroke: 0.1rem var(--skyblue-1);
    color: transparent;
    letter-spacing: 1.5rem;

}

.main-heading {
    position: absolute;
    top: 47%;
    left: 22%;
    font-family: 'Caveat', cursive;
    font-size: 8rem;
    font-weight: 800;
    color: var(--orange);
    letter-spacing: 0.5rem;
}

.description {
    position: absolute;
    bottom: 35%;
    left: 50%;
    transform: translateX(-50%);
    width: 80rem;
    font-size: 1.8rem;
    font-weight: 400;
    text-align: center;
    color: var(--skyblue-1);
}

.slide-btn {
    width: 20rem;
    height: 5rem;
    background-color: rgba(0, 0, 0, 0.6);
    border: 0.2rem solid var(--skyblue-1);
    position: absolute;
    bottom: 27%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    color: var(--orange);
    cursor: pointer;
    transition: all 0.6s;
    overflow: hidden;
}

.slide-btn:hover {
    color: var(--skyblue-1);
    border-color: var(--orange);
}

.slide-btn::before,
.slide-btn::after {
    content: '';
    width: 20rem;
    height: 10rem;
    background-color: var(--orange);
    position: absolute;
    transform: rotateZ(45deg);
    transition: transform 0.6s;
    z-index: -10;
}

.slide-btn::before {
    left: -14rem;
    top: 0;
}

.slide-btn::after {
    right: -14rem;
    top: -5rem;
}

.slide-btn:hover::before {
    transform: rotateZ(45deg) scale(2.4);
}

.slide-btn:hover::after {
    transform: rotateZ(45deg) scale(2.4);
}

.sidebar {
    position: fixed;
    top: 0;
    right: -50rem;
    width: 50rem;
    height: 100vh;
    background-color: var(--dark);
    transition: right 0.5s cubic-bezier(1, 0, 0, 1);
    z-index: 100;
}

.navigate.sidebar {
    right: 0;
}

.sidebar i {
    position: absolute;
    top: 2rem;
    right: 5rem;
    font-size: 8rem;
    color: var(--skyblue-2);
    cursor: pointer;
}

.sidebar-nav {
    width: 40rem;
    height: 15rem;
    border: 0.1rem solid var(--orange);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: height 0.5s;
}

.change .sidebar-nav {
    height: 60rem;
}

.sidebar-btn {
    width: 40rem;
    height: 15rem;
    background-color: transparent;
    border: none;
    font-size: 6rem;
    -webkit-text-stroke: 0.1rem skyblue;
    color: transparent;
    cursor: pointer;

}
