@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Fredericka+the+Great&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;
}

:root {
    --skyblue-1: #46b9e6;
    --skyblue-2: #9dd0e4;
    --orange: #ff4500;
    --dark: #111;
    --grey-d: #333;
    --grey-m: #888;
    --grey-l: #ccc;
    --grey-xl: #eee;
}

body {
    background-color: var(--skyblue-2);
}

.container {
    width: 100%;
    height: 100vh;
    padding: 3rem;
    overflow: hidden;
}

.landing {
    width: 100%;
    height: 100%;
    position: relative;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.7);
}

.navbar {
    position: absolute;
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
    z-index: 10;
}

.logo i {
    font-size: 5rem;
    color: var(--orange);
    -webkit-text-stroke: 0.2rem var(--skyblue-1);
    margin-right: 1rem;
    cursor: pointer;
}

.navigation a {
    font-size: 2rem;
    color: var(--skyblue-1);
    text-shadow: 0.2rem 0.2rem 0.4rem var(--orange);
    margin: 0 3rem;
    position: relative;
}

.navigation a::before,
.navigation a::after {
    content: '';
    width: 100%;
    height: 0.2rem;
    background-color: var(--orange);
    position: absolute;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.5s;
}

.navigation a::before {
    top: -0.5rem;
    transform-origin: left;
}

.navigation a::after {    
    bottom: -0.5rem;
    transform-origin: right;
}

.navigation a:hover::before,
.navigation a:hover::after {
    transform: scaleX(1);
}

.menu-icon {
    width: 6rem;
    height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.line {
    width: 100%;
    height: 0.4rem;
    background-color: var(--orange);
    transition: transform 0.5s;
}

.line-1 {
    transform-origin: right;
}

.line-2 {
    transform-origin: left;
}

.menu-icon:hover .line {
    transform: scaleX(0.5);
}

.slides {
    width: 100%;
    height: 100%;
    background-color: var(--dark);
}

.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: opacity 2s;
}

.slide-img-wrapper {
    width: 100%;
    height: 100%;
    background: var(--dark);
}

.slide-img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.3;
}